#mapid { 
    height: 60em;
    z-index: 0;
}
#nuevaAlerta{
    position: absolute;
    top:150px;
    left:150px;
    z-index: 1;
    
}
#vistaExcel{
    position: absolute;
    top:150px;
    right:150px;
    z-index: 1;
}
#coords{
    position: absolute;
    top:150px;
    background-color: rgb(86, 214, 96);
    z-index: 1;
}
#formAlerta{
    position: absolute;
    visibility: hidden;
    top:0;
    padding:12px;
    background-color: burlywood;
    border-radius: 35px;
}
#formAlertaMod{
    position: absolute;
    visibility: hidden;
    top:0;
    padding:12px;
    background-color: burlywood;
    border-radius: 35px;
    z-index: 2;
}
#bocultar{
   margin-left: 50px;
   
}
#formCrearUsuario{
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: rgb(104, 96, 202);
}
#formModUsuario{
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: rgb(104, 96, 202);
}
#verUsuarios{
    position: absolute;
    top:150px;
    right:150px;
    z-index: 1;
}
#listaUSuarios{
    background-color: rgb(243, 192, 96);
    visibility: hidden;
    position: absolute;
    right: 0;
    height: 97%;
    top:9px;
    width: 300px;
    z-index: 2;
}
.send{
    position: fixed;
    bottom: 14px;
}
#bMandar{
    left: 13em;
}